@model ConsumoAlimentario.Models.ViewModel.ConsumoDiarioAlimentoVM
@{
    ViewData["Title"] = "AdministrarConsumoDiario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-4 border">
            <h4 class="display-4 text-center">Consumo del @Model.ConsumoDiario.Fecha.ToString("D")</h4>
            <hr />
            <div class="row">
                <div class="col-6">
                    <p class="text-info text-center">Calorias totales: @Model.ConsumoDiario.CaloriasTotales Gr.</p>
                    <p class="text-info text-center">Carbohidratos Totales: @Model.ConsumoDiario.CarbohidratosTotales Gr.</p>
                    <p class="text-info text-center">Proteínas totales: @Model.ConsumoDiario.ProteinasTotales Gr.</p>
                    <p class="text-info text-center">Grasas totales: @Model.ConsumoDiario.GrasasTotales Gr.</p>
                    <p class="text-info text-center">Sodio total: @Model.ConsumoDiario.SodioTotal Gr.</p>
                    <p class="text-info text-center">Potasio total: @Model.ConsumoDiario.PotasioTotal Gr.</p>
                </div>
                <div class="col-6">
                    <p class="text-info text-center">Fibras totales: @Model.ConsumoDiario.FibrasTotales Gr.</p>
                    <p class="text-info text-center">Azucar Total: @Model.ConsumoDiario.AzucarTotal Gr.</p>
                    <p class="text-info text-center">Vitamina A: @Model.ConsumoDiario.VitaminaATotal Gr.</p>
                    <p class="text-info text-center">Vitamina C: @Model.ConsumoDiario.VitaminaCTotal Gr.</p>
                    <p class="text-info text-center">Calcio total: @Model.ConsumoDiario.CalcioTotal Gr.</p>
                    <p class="text-info text-center">Hierro total: @Model.ConsumoDiario.HierroTotal Gr.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-sm">
                        <tr>
                            <th>Alimento</th>
                            <th>Cantidad</th>
                            <th>Quitar</th>
                        </tr>
                        @foreach (var item in @Model.ConsumoDiario.ListaAlimentos)
                        {
                            <tr>
                                <td>@item.Nombre</td>
                                <td>@item.Cantidad Gr.</td>
                                <td><a asp-action="EliminarAlimentoCargado" asp-controller="CargarAlimentos" asp-route-id="@item.AlimentoCargado_Id" class="btn btn-danger form-control"> <i class="bi bi-trash3-fill"></i></a></td>
                            </tr>
                        }
                    </table>
                </div>
                @if (Model.ConsumoDiario.ListaAlimentos == null)
                {
                    <p class="text-warning text-center">No posee alimentos cargados.</p>
                }
            </div>
        </div>
        <div class="col-8">
            <div class="d-flex justify-content-end">
                <a asp-action="Index" class="btn btn-danger"><i class="bi bi-backspace"></i> Volver</a>
            </div>
            <div class="row">
                <div class="col">
                    <a href="@Url.Action("Cargar", "CargarAlimentos", new { id = Model.ConsumoDiario.ConsumoDiario_Id})" class="btn btn-outline-success" role="button">Cargar alimento</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/site.js"></script>
}

