@model ConsumoAlimentario.Models.ViewModel.ConsumoDiarioUsuarioVM
<div class="container-fluid mt-3">
    <div class="row align-items-center justify-content-around vh-100">
        <div class="col-6 div-informacion-usuario rounded">
            <h3 class="datos-usuario-titulo">Datos Del Usuario:</h3>
            <hr />
            <h3 class="datos-usuario-item">Email: @ViewData["Email"]</h3>
            <h3 class ="datos-usuario-item">Nombre: @Model.Usuario.Nombre @Model.Usuario.Apellido</h3>
            <h3 class="datos-usuario-item">Peso: @Model.Usuario.Peso Kg.</h3>
            <h3 class="datos-usuario-item">Altura: @Model.Usuario.Altura Mts.</h3>
            <div class="row">
                <div class="d-flex justify-content-around mb-3 mt-5">
                    <div>
                        <a asp-controller="ObjetivoDiarios" asp-action="NuevoObjetivo" asp-route-id="@Model.Usuario.Usuario_Id" class="button-verde text-decoration-none text-white">Definir Objetivo</a>
                    </div>
                    <div>
                        <a asp-controller="ObjetivoDiarios" asp-action="ModificarObjetivo" asp-route-id="@Model.Usuario.Usuario_Id" class="button-naranja text-decoration-none text-white">Modificar Objetivo</a>
                    </div>
                    <div>
                        <a asp-controller="Home" asp-action="CerrarSesion" class="button-rojo text-decoration-none text-white"><i class="bi bi-box-arrow-left"></i> Cerrar Sesion </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @if (TempData["Objetivo"] != null)
                    {
                        <div class="form-group mt-1">
                            <div class="alert alert-danger text-center" role="alert">
                                @TempData["Objetivo"]
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-6">
            <h4 class="text-primary text-uppercase">Historial de días</h4>
            <table id="tblConsumo" class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Calorias totales</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var item in Model.ListaConsumo)
                {
                        <tr>
                            <td>@item.Fecha.ToString("d")</td>
                            <td>@item.CaloriasTotales</td>
                            <td>
                                <a asp-action="AdministrarConsumoDiario" asp-controller="ConsumoDiarios" asp-route-id="@item.ConsumoDiario_Id" class="btn btn-outline-primary">Administrar</a>
                                <a asp-action="Delete" asp-controller="ConsumoDiarios" asp-route-id="@item.ConsumoDiario_Id" class="btn-danger btn">Borrar</a>
                            </td>
                        </tr>
                }                                   
                </tbody>
            </table>
            <div class="row">
                <a asp-controller="ConsumoDiarios" asp-action="ConsumoDelDia" asp-route-id="@Model.Usuario.Usuario_Id" class="button-verde text-center text-decoration-none text-white"> Comenzar nuevo dia</a>
            </div>
        </div>
    </div>
</div>




@*@section Scripts{
    <script src="~/js/consumoDiario.js"></script>
}*@
